---
import marino1 from '../assets/platos/menu-marino1.png';
import marino2 from '../assets/platos/menu-marino2.png';
import marino3 from '../assets/platos/menu-marino3.png';
import marino4 from '../assets/platos/menu-marino4.png';
---

<section id="menu">
    <div id="menu-titulo">
        <span>ALGUNOS DE</span>
        <br>
        <span>NUESTROS PLATOS</span>
    </div>
    <div id="menu-promos">
        <div id="menu-promos-opciones">
            <button>CEVICHERIA</button>
            <button>POLLERIA</button>
            <button>BAR</button>
        </div>
        <div id="menu-promos-platos">
            <div>
                <article id="menu-plato">
                    <img src={marino3.src} alt="Menu marino 3">
                    <span>CHICHARRON DE PESCADO</span>
                </article>
                <article id="menu-plato">
                    <img src={marino4.src} alt="Menu marino 4">
                    <span>JALEA MIXTA</span>
                </article>
            </div>
            <div>
                <article id="menu-plato">
                    <img src={marino2.src} alt="Menu marino 2">
                    <span>CEVICHE DE CONCHAS NEGRAS</span>
                </article>
                <article id="menu-plato">
                    <img src={marino1.src} alt="Menu marino 1">
                    <span>LECHE DE PANTERA</span>
                </article>
            </div>
        </div>
    </div>
</section>

<style>
    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 65px 120px 65px 120px;
        gap: 50px;
    }

    #menu-titulo {
        text-align: center;
        font-family: "Oswald", sans-serif;

        & > span:nth-child(1) {
            font-size: 26px;
            font-weight: 500;
            color: #CD310C;
        }

        & > span:nth-child(3) {
            font-size: 45px;
            font-weight: 500;
            line-height: 50px;
        }
    }

    #menu-promos {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1300px;
        gap: 40px;
    }

    #menu-promos-opciones {
        display: flex;
        gap: 25px;

        & button {
            width: 140px;
            height: 40px;
            border: 2px solid #ffffff;
            border-radius: 50px;
            background: #fff;
            color: #585A59;
            font-size: 14px;
            font-weight: 500;
            font-family: "Roboto", sans-serif;
            letter-spacing: 1px;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 5px 0px;
            transition-duration: 0.2s;

            &:hover {
                border: 2px solid #CD310C;
            }
        }
    }

    #menu-promos-platos {
        display: flex;
        gap: 30px;

        & > div {
            display: flex;
            flex: 1;
            gap: 30px;
        }
    }

    #menu-plato {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;

        & img {
            width: 100%;
        }

        & span {
            text-align: center;
            color: #585A59;
        }
    }

    @media (max-width: 600px) {
        #menu {
            padding: 65px 30px 65px 30px;
            gap: 30px;
        }

        #menu-titulo {

            & > span:nth-child(1) {
                font-size: 22px;
            }

            & > span:nth-child(3) {
                font-size: 35px;
                line-height: 45px;
            }
        }

        #menu-promos-opciones {
            gap: 5px;

            & button {
                width: 90px;
                height: 30px;
                font-size: 10px;
                border-radius: 0;
            }
        }

        #menu-promos-platos {
            display: flex;
            flex-direction: column;

            & > div {
                gap: 30px;
            }
        }

        #menu-plato {

            & span {
                font-size: 12px;
            }
        }
    }

    @media (min-width: 601px) and (max-width: 768px) {
        #menu {
            padding: 65px 50px 65px 50px;
            gap: 40px;
        }

        #menu-titulo {

            & > span:nth-child(1) {
                font-size: 24px;
            }

            & > span:nth-child(3) {
                font-size: 40px;
                line-height: 45px;
            }
        }

        #menu-promos-opciones {

            & button {
                font-size: 12px;
                width: 130px;
            }
        }

        #menu-promos-platos {
            display: flex;
            flex-direction: column;

            & > div {
                gap: 30px;
            }
        }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        #menu {
            padding: 65px 50px 65px 50px;
            gap: 40px;
        }

        #menu-titulo {

            & > span:nth-child(1) {
                font-size: 24px;
            }

            & > span:nth-child(3) {
                font-size: 40px;
                line-height: 45px;
            }
        }

        #menu-promos-opciones {

            & button {
                font-size: 12px;
                width: 130px;
            }
        }
    }
</style>